{{#table}}
<table id="{{id}}" class="table table-bordered table-sm {{$tableclasses}}{{tableclasses}}{{/tableclasses}}" {{$dataattrs}}{{dataattrs}}{{/dataattrs}}>
{{> local_otcontrolpanel/table-head}}
{{> local_otcontrolpanel/table-body}}
</table>
{{/table}} 