{{#head}}
<thead>
	{{#rows}}
	<tr>
		{{$statecolumnth}}{{/statecolumnth}}
		{{#cells}}
		<th data-field="{{columncode}}" data-sortable="true">{{value}}</th>
		{{/cells}}
	</tr>
	{{/rows}}
</thead>
{{/head}}