.teacher_load_header, 
.appointment_load_header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.teacher_load_header .load_identifier,
.appointment_load_header .load_identifier {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	margin: 10px 0;
	flex-basis: 100%;
	
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
.teacher_load_header .load_identifier {
	font-size: 30px;
}

.teacher_load_header .load_identifier > *,
.appointment_load_header .load_identifier > * {
	background-color: #BBB;
	color: #FFF;
	padding: 0 5px;
}

.teacher_load_header .load_identifier > * {
	background-color: #999;
}
.appointment_load_header .load_identifier > *:not(:first-of-type) {
	border-left: 1px solid #FFF;
}

.teacher_load_header > :not(.load_identifier),
.appointment_load_header > :not(.load_identifier) {
	margin-right: 20px;
}

.teacher_load_header > :not(.load_identifier) .teacher_load_label,
.appointment_load_header > :not(.load_identifier) .appointment_load_label {
	font-weight: 600;
}

.teacher_load_header > :not(.load_identifier) .teacher_load_label,
.appointment_load_header > :not(.load_identifier) .appointment_load_label,
.teacher_load_header .teacher_load_value,
.appointment_load_header .appointment_load_value {
	padding: 0 5px;
}
.appointment_load {
	padding-left: 20px;
}

.appointment_load_header {
	margin-top: 20px; 
}