{{#logicalgroup}}
	<fieldset class="ac-item" data-code="{{code}}" data-type="logicalgroup">
		<legend>
			<span data-toggle="tooltip" data-placement="bottom" title="{{description}}">{{displayname}}</span>
			{{>local_opentechnology/ac_add_btn}}
			{{>local_opentechnology/ac_remove_btn}}
		</legend>
		<div class="content"></div>
	</fieldset>
{{/logicalgroup}}