{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template crw_courses_list_universal/courses_list

    This template will render the course_block for the showcase courses.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * classes css classes of block
    * blocks blocks for rendering
    * fakeblocks fakeblocks for rendering

    Example context (json):
    {
        "classes": 'clsq_courseblock light stretch background',
        "blocks": [
            0 => {
                "classes": 'clsq_coursebox clsq_item0 first',
                "courseid": 16,   
                "coursecattypecourse": 1,
                "hasbackground": true,
                "backgroundurl": '/pluginfile.php/297/local_crw/overviewfiles/0/1.jpg'
                "url": '/local/crw/course.php?id=16',
                "name": 'Устройство мотоцикла. Для демонстрации.',
                "showcoursecategory": true,
                "catname": 'Разное',
                "skills": [
                    0 => {
                        "name" => 'Основы PHP'
                    }
                ],
                "priceclasses": 'clsq_course_price mediumint',
                "price": 1000,
                "showbutton": false,
                "tags": [
                    0 => {
                        "class": 'clsq_tag_15',
                        "name": 'новинка!'
                    }
                ],
                "hastags": true
            }
        ],
    }

}}
<div class="crw-categories-list-universal ccatlu-tiles">
{{> crw_categories_list_universal/tiles_categories_list_items }}
</div>
