table.replacedevents {
    width: 100%;
}
#block_dof_content table.replacedevents td {
    position: relative;
} 
.replacedevents tr.collapsed .toggle {
    background: url('/blocks/dof/modlibs/ig/icons/arrow_down.png');
}
.replacedevents tr.expanded .toggle {
    background: url('/blocks/dof/modlibs/ig/icons/arrow_up.png');
}
.replacedevents tr.collapsed + tr {
    display: none;
}
.replacedevents tr.expanded + tr {
    display: table-row;
}
.replacedevents .toggle {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat!important;
    background-size: auto !important;
    background-position: center center !important;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}