{{< core_form/element-group }}
    {{$element}}
        <fieldset class="w-100 m-0 p-0 border-0">
            <legend class="sr-only">{{label}}</legend>
            <div class="d-flex flex-wrap align-items-center">
            {{{element.elementrawhtml}}}
            </div>
        </fieldset>
    {{/element}}
{{/ core_form/element-group }}