{{< core_form/element-group-inline }}
    {{$element}}
    <div class="d-flex flex-wrap align-items-center">
        {{{element.elementrawhtml}}}
    </div>
    {{/element}}
{{/ core_form/element-group-inline }}