{{#element}}
	{{#elementTemplateDofModal}}
	{{#elementTemplateData}}
		{{{before_title}}}
		{{{title}}}
		{{{between_title_and_text}}}
	{{/elementTemplateData}}
	{{/elementTemplateDofModal}}
{{/element}}

{{> core_form/element-group }}

{{#element}}
	{{#elementTemplateDofModal}}
	{{#elementTemplateData}}
		{{{after_text}}}
	{{/elementTemplateData}}
	{{/elementTemplateDofModal}}
{{/element}}