{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template crw_courses_list_squares/course_block

    This template will render the course_block for the showcase courses.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * classes block classes
    * courseid course id
    * coursecattypecourse core_course_renderer::COURSECAT_TYPE_COURSE
    * hasbackground has or has not background
    * backgroundurl background url if has background
    * url course url
    * name course name
    * showcoursecategory show or not course category name
    * catname category name
    * skills array of skills needed for course
    * priceclasses clasees of price block (important for big int values)
    * price course price
    * showbutton show or not button "Enter to course"
    * tags array of course tags
    * hastags has or has not tags

    Example context (json):
    {
        "classes": 'clsq_coursebox clsq_item0 first',
        "courseid": 16,   
        "coursecattypecourse": 1,
        "hasbackground": true,
        "backgroundurl": '/pluginfile.php/297/local_crw/overviewfiles/0/1.jpg'
        "url": '/local/crw/course.php?id=16',
        "name": 'Устройство мотоцикла. Для демонстрации.',
        "showcoursecategory": true,
        "catname": 'Разное',
        "skills": [
            0 => {
                "name" => 'Основы PHP'
            }
        ],
        "priceclasses": 'clsq_course_price mediumint',
        "price": 1000,
        "showbutton": false,
        "tags": [
            0 => {
                "class": 'clsq_tag_15',
                "name": 'новинка!'
            }
        ],
        "hastags": true
    }

}}
<div class="{{classes}}" data-courseid="{{courseid}}" data-type="{{coursecattypecourse}}">
    {{#hasbackground}}
    <div class="clsq_courseinfo_image" style="background-image: url('{{backgroundurl}}')"></div>
    {{/hasbackground}}
    <a class="clsq_courseinfo_holder" href="{{url}}">
        <div class="clsq_content">
            {{#hastags}}
            <div class="clsq_tags">
                {{#tags}}
                <div class="{{class}}">{{name}}</div>
                {{/tags}}
            </div>
            {{/hastags}}
            <div class="clsq_course_content_top_wrapper">
                <div class="clsq_course_info">
                    <div class="clsq_course_name">{{name}}</div>
                    {{#showcoursecategory}}
                    <div class="clsq_course_category_name">{{catname}}</div>
                    {{/showcoursecategory}}
                </div>
                <div class="clsq_course_skills">
                    <div class="clsq_course_skills_header">{{#str}} required_knowledge, crw_courses_list_squares {{/str}}</div>
                    <div class="clsq_course_skills_items">
                        {{#skills}}
                        <div class="clsq_course_skills_item">{{name}}</div>
                        {{/skills}}
                    </div>
                </div>
            </div>
            <div class="clsq_course_content_bottom_wrapper">
                <div class="{{priceclasses}}">{{{price}}}</div>
                {{#showbutton}}
                <div class="clsq_course_pass_button">{{#str}} pass_button, crw_courses_list_squares {{/str}}</div>
                {{/showbutton}}
            </div>
        </div>
    </a>
</div>

