<div id="dock_item_{{itemnum}}" class="dockeditem" aria-controls="inst{{blockinstanceid}}">{{! 
	}}<div id="dock_item_{{itemnum}}_title" role="menu" aria-haspopup="true" class="{{dockedtitleclasses}}" aria-expanded="false" 
	style="{{! 
	}}{{#setting_dockeditemtitle}}{{! 
    	}}{{#icon}}background-image:url('{{icon}}');{{/icon}}{{! 
    	}}{{^icon}}{{#defaulticon}}background-image:url('{{defaulticon}}');{{/defaulticon}}{{/icon}}{{! 
    	}}{{^icon}}{{^defaulticon}}background-image:none;{{/defaulticon}}{{/icon}}{{! 
	}}{{/setting_dockeditemtitle}}{{! 
	}}"><h2>{{{title}}}</h2></div>{{! 
}}</div>