<div class="usernav">
                   	
	{{#themedata.showsearch}}
	{{{ output.search_box }}}
	{{/themedata.showsearch}}
	
	{{{ themedata.header_links }}}
	
   	{{{ output.navbar_plugin_output }}}
   	
	{{{ output.user_menu }}}
	
	{{#themedata.custommenu}}
	<label id="custommenu_mobile_label" class="custom_menu_mobile_label" for="custommenu_mobile_checkbox"></label>
	{{/themedata.custommenu}}
	
</div>