<ul class="crw_ci_courseblock_contacts_ul">
	{{#course_contacts}}
	<li class="crw_ci_courseblock_contacts_li">
	{{{userpic}}}
	<div class="crw_ci_courseblock_contacts_userinfo">
		<a href="{{url}}" class="crw_ci_courseblock_contacts_username">{{username}}</a>
		<div class="crw_ci_courseblock_contacts_role">{{rolename}}</div>
	</div>
	<div class="crw_clearboth"></div>
	</li>
	{{/course_contacts}}
</ul>