{{#course_custom_fields}} {{! Итератор по всем полям }}
{{#element}} {{! Проверка, что перед нами элемент формы (так как еще в массив добавлены повторяющиеся группы элементов) }}
{{^repeatgroup_name}} {{! Проверка, что у объекта нет признака повторяющейся группы (иначе он и так будет отображен в составе группы ниже) }}
{{^index_element}} {{! Элементы с несколькими значениями отображаются в одном поле, а этот итем - для отображения вручную, а не автоматом }}
{{#display_in_list}} {{! Проверка, что поле должно отображаться в списке (в категории можно управлять отображением полей) }}
{{> local_crw/base_coursepage_custom_fields_element_not_null }}
{{/display_in_list}}
{{/index_element}}
{{/repeatgroup_name}}
{{/element}}
{{#repeatgroup}} {{! Проверка, что перед нами повторяющаяся группа }}
{{> local_crw/base_coursepage_custom_fields_repeat_group }}
{{/repeatgroup}}
{{/course_custom_fields}}