{{#display_categories_as_text}}
{{> local_crw/base_coursepage_categories_as_text }}
{{/display_categories_as_text}}
{{#display_categories_as_links}}
{{> local_crw/base_coursepage_categories_as_links }}
{{/display_categories_as_links}}