<div class="mod_endorsement_list moderatorside">
	{{#header}}<div class="mod_endorsement_list_header">{{header}}</div>{{/header}}
	{{#filter}}
		<div class="mod_endorsement_filter">
			{{{filter}}}
		</div>
	{{/filter}}
	{{#items}}
		<div class="mod_endorsement_items">
			{{{items}}}
		</div>
	{{/items}}
	{{#paging_bar}}{{{paging_bar}}}{{/paging_bar}}
</div>