{{#items}}
	<div class="mod_endorsement_item" data-item-id="{{id}}" data-item-status="{{status}}">
		{{#text}}
			<div class="mod_endorsement_item_field mod_endorsement_item_field_text">
				{{{text}}}
			</div>
		{{/text}}
		{{#pubdate}}
			<div class="mod_endorsement_item_field mod_endorsement_item_field_pubdate">
				{{pubdate}}
			</div>
		{{/pubdate}}
	</div>
{{/items}}