{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
 
<div data-type = "listitems"
{{#slideoptions}}{{#imageurl}}style = "background-image: url({{{imageurl}}})"{{/imageurl}}{{/slideoptions}}
class = "slide_listitems rm_{{#slideoptions}}{{rendermode}}{{/slideoptions}} {{titled}}">
	{{#slideoptions}}{{#title}}<div class = "list_title">{{title}}</div>{{/title}}{{/slideoptions}}
	<ul>
	{{#items}}
		<li class = "{{class}}">{{value}}</li>
	{{/items}}
	</ul>
</div>